body{
 background-color: #282c34;
 text-align: center;
}

.App {
  display: block;
  background-color: #d5dce8;
  margin: 50px auto;
  padding: 10px;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 3px 2px 3px gray;

   }

.header{
  font-size: 30px;
  font-stretch: extra-expanded;
  font-weight: 900;
  padding:40px 5px;
  margin:20px;
  text-shadow: 2px 3px rgb(210, 199, 231);
}

input{
  line-height: 40px;
  margin: auto 5px;

}

.btn{
max-width: 80px;  
font-size: smaller;
}

.Meaning{
  margin-top: 20px;
}