body{
 background-color:#61c0bf; 
 text-align: center;
 
}
.container{
  max-width: 960px;
  }
section{
   background-color:  #fae3d9;
   display:block;
   margin: 10px auto 10px auto;
   padding: 10px;
  max-width: 600px;
   border-radius: 4px;
  box-shadow: 1px 1px 2px 1px rgb(113, 112, 112);
}
.main{
  background-color: #f67280; 
}
.header{
  font-size:25px;
  font-stretch: extra-expanded;
  color: rgb(78, 3, 74);
  font-weight: 900;
  padding:20px 5px;
  margin:20px;
  text-shadow: 1px 1px rgb(210, 199, 231);
}

input{
  line-height: 35px;
  margin: auto 5px;
  background-color:#bbded6;
  color: rgb(78, 3, 74);

}

.btn{
max-width: 80px;  
background-color:#f7f6b6;
color: rgb(78, 3, 74);
}

h1, h5{
color: rgb(78, 3, 74);
}
.Meaning{
  margin-top: 20px;
}

.footer, .Coder{
  font-size: 10px;
  color: rgb(78, 3, 74);
  background-color: #f7f6b6 !important; 
}
.foto{
  margin: 5px auto;
  border-radius: 3px;
}